@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #FFFFFF;
  color: #333;
}

header {
  display: flex;
  height: 150px;
  padding: 0 70px;
  align-items: center;
  justify-content: center;
  color: #0090B6;
  
}
header h1 {
  font-size: 45px;
}

.searchForm {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  margin: 0 auto;
}


.searchInput {
  flex: 1;
  height: 40px;
  padding: 5px 10px;
  border-radius: 6px;
}

.searchBtn {
  padding: 5px 10px;
  background-color: #0090B6;
  border-radius: 6px;
  color: #FFFFFF;
  border: 1px solid #0090B6;
  font-size: 16px;
}

.cardContainer {
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  padding: 40px;
  color: #43484D;

}

.cardContainer h4 {
  text-align: center;
}
.card {
  background: #F4F4F4;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
  width: 420px;
  padding: 18px;
  height: calc(100vh - 350px);
  border: 1px solid #EDEDED;
  border-radius: 8px;

}

.cardInfo {
  overflow: auto;
  height: calc(100vh - 450px);
}

.card h2 {
  text-transform: capitalize;;
}

.card ul {
  list-style: none;
  background-color: #FFFFFF;
  border-radius: 1em;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
  margin: 12px 0;
  padding: 10px;

}

.card li:nth-child(3) {
  font-size: 20px;
  font-weight: bold;
}

.infoLabel {
  text-transform: capitalize;;
  font-weight: bold;
}

.cardTrash {
  text-align: right;
  margin-bottom: -27px;
  color: red;
}

.cardIcon {
  padding-right: 8px;
  color: #0090B6;
}